.product {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product__img-wrapper {
    height: 250px;
    overflow: hidden;

    .product__img {
      width: 100%;
    }
  }

  .product__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    flex-direction: column;

    .product__title {
      font-weight: bold;
      line-height: 20px;
      margin: 0 0 5px 0;
      word-break: break-word;
    }
  }

  // Display product title and price on same line when on desktop  
  @media only screen and (min-width: 768px) {
    .product__info {
      flex-direction: row;

      .product__title {
        margin: 0 20px 0 0;
      }
    }
  }

  .product__description-wrapper {
    font-size: 0.9em;
    color: #525860;
    line-height: 14px;
    word-break: break-word;

    .read-more-btn {
      font-weight: bold;
    }
  }

  .product__add-to-cart-btn {
    border: 2px solid black;
    font-weight: bold;
    height: 30px;
  }
}